Source: trustedgrub2
Section: unknown
Priority: optional
Maintainer: Darsey Litzenberger <dlitz@dlitz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 patchutils,
 python3,
 flex,
 bison,
 po-debconf,
 help2man,
 texinfo,
 gcc-12,
 gcc-12-multilib [i386 kopensolaris-i386 any-amd64 any-ppc64 any-sparc],
 xfonts-unifont,
 libfreetype6-dev,
 gettext,
 libdevmapper-dev [linux-any],
 libgeom-dev (>= 8.2+ds1-1~) [kfreebsd-any] | libgeom-dev (<< 8.2) [kfreebsd-any],
 libsdl1.2-dev [!hurd-any],
 xorriso,
 qemu-system [i386 kfreebsd-i386 kopensolaris-i386 any-amd64],
 cpio [i386 kopensolaris-i386 amd64 x32],
 parted [!hurd-any],
 libfuse-dev (>= 2.8.4-1.4) [linux-any kfreebsd-any],
 fonts-dejavu-core,
 liblzma-dev,
 dosfstools [any-i386 any-amd64 any-arm64],
 mtools [any-i386 any-amd64 any-arm64],
 wamerican,
 libparted-dev [any-powerpc any-ppc64 any-ppc64el],
 pkg-config,
 bash-completion,
 libefiboot-dev [i386 amd64 ia64 x32 armel armhf arm64],
 libefivar-dev [i386 amd64 ia64 x32 armel armhf arm64],
Build-Conflicts: autoconf2.13, libzfs-dev, libnvpair-dev
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/trustedgrub2
#Vcs-Git: https://salsa.debian.org/debian/trustedgrub2.git

Package: trustedgrub2
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
