Source: trustedgrub2
Section: admin
Priority: optional
Maintainer: Darsey Litzenberger <dlitz@dlitz.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 patchutils,
 python3,
 flex,
 bison,
 po-debconf,
 help2man,
 texinfo,
 gcc-12,
 gcc-12-multilib [i386 kopensolaris-i386 any-amd64 any-ppc64 any-sparc],
 xfonts-unifont,
 libfreetype-dev,
 gettext,
 libdevmapper-dev [linux-any],
 libgeom-dev (>= 8.2+ds1-1~) [kfreebsd-any] | libgeom-dev (<< 8.2) [kfreebsd-any],
 libsdl1.2-dev [!hurd-any],
 xorriso,
 qemu-system [i386 kfreebsd-i386 kopensolaris-i386 any-amd64],
 cpio [i386 kopensolaris-i386 amd64 x32],
 parted [!hurd-any],
 libfuse-dev (>= 2.8.4-1.4) [linux-any kfreebsd-any],
 fonts-dejavu-core,
 liblzma-dev,
 dosfstools [any-i386 any-amd64 any-arm64],
 mtools [any-i386 any-amd64 any-arm64],
 wamerican,
 libparted-dev [any-powerpc any-ppc64 any-ppc64el],
 pkg-config,
 bash-completion,
 libefiboot-dev [i386 amd64 ia64 x32 armel armhf arm64],
 libefivar-dev [i386 amd64 ia64 x32 armel armhf arm64],
Build-Conflicts: autoconf2.13, libzfs-dev, libnvpair-dev
Standards-Version: 4.6.2
Homepage: https://github.com/braincorp/TrustedGRUB2
#Vcs-Browser: https://salsa.debian.org/debian/trustedgrub2
#Vcs-Git: https://salsa.debian.org/debian/trustedgrub2.git

Package: trustedgrub2
Architecture: any
Depends:
 grub-common (>= 2.02),
 ${shlibs:Depends},
 ${misc:Depends},
Description: TPM enabled GRUB2 Bootloader for legacy BIOS
 GRUB is a portable, powerful bootloader.  This version of GRUB includes
 extensions made to transform a standard GRUB2 into a version that offers TCG
 (TPM) support for granting the integrity of the boot process (trusted boot).
 .
 TrustedGRUB2 aims to measure all critical components during the boot process,
 i.e. GRUB2 kernel, GRUB2 modules, the OS kernel or OS modules and so on,
 together with their parameters.
 .
 Features:
   * Based on GRUB 2.02
   * TPM Support with TPM detection (only legacy/mbr mode, UEFI is not
     supported at the moment)
   * Measurement of GRUB2 kernel
   * Measurement of all loaded GRUB2 modules
   * Measurement of all commands and their parameters entered in shell and
     scripts
   * New SHA1-implementation in GRUB2 kernel (necessary for doing the GRUB2
     modules measurement as the crypto module isn't loaded at this stage)
   * Added LUKS keyfile support with additional parameter `-k KEYFILE` for
     `cryptomount` command
   * Added support for unsealing LUKS keyfile with additional `-s` parameter
     for `cryptomount` command. LUKS-header is measured before unsealing into
     PCR 12. Currently unsealing only supported with SRK and well known secret
     (20 zero bytes)
   * New commands:
     * `readpcr PCRNUM`
     * `tcglog LOGINDEX`
     * `measure FILE PCRNUM`
     * `setmor DISABLEAUTODETECT`
   * Loader measurements:
     * `linux` / `linux16`
     * `initrd` / `initrd16`
     * `chainloader`
     * `ntdlr`
     * `multiboot`
     * `module`
   * New cryptomount parameters:
     * `cryptomount -k KEYFILE`
     * `cryptomount -k KEYFILE -s`
   * Functionality added without own command:
     * TPM_Unseal
     * TPM_GetRandom
     * TPM_OIAP
     * TPM_OSAP
